# ─── RESEND (Email Service Provider) ───────────────────────────────────────────
RESEND_API_KEY=re_H9weVYmb_AWrNBvAXyZZrZqjm1QuqoNqT
CONTACT_TO_EMAIL=info@moldcheck.pt
CONTACT_FROM_EMAIL=MoldCheck Contact <no-reply@moldcheck.pt>


NEXT_PUBLIC_SUPABASE_URL=https://fyddyjxesuofjrsbzccy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5ZGR5anhlc3VvZmpyc2J6Y2N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4Mzc4NTEsImV4cCI6MjA4OTQxMzg1MX0.BMLkysanotDaZ3w1Z-lFZgZfLiaN_izD121dlt9wkBw
SUPABASE_SERVICES_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5ZGR5anhlc3VvZmpyc2J6Y2N5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzgzNzg1MSwiZXhwIjoyMDg5NDEzODUxfQ.kCUr9MIOqaSKEwcQV1yfigwPo1hLuRxrFQNWqb0hoNE

# DIRECT_CONNECTION_STRING=postgresql://postgres:[ContraseñaPassword]@db.fyddyjxesuofjrsbzccy.supabase.co:5432/postgres
